@import 'syntax-variables';

.editor-colors {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

.editor {
  background-color: @syntax-background-color;
  color: #F8F8F2;

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: #F8F8F2;

    .cursor-line {
      background-color: @syntax-gutter-background-color-selected;
    }
  }

  .cursor-line {
    background-color: @syntax-gutter-background-color-selected;
  }

  .line-number.cursor-line-no-selection {
    background-color: @syntax-gutter-background-color-selected;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    border-color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }

  .search-results .marker .region {
    background-color: transparent;
    border: 1px solid @syntax-result-marker-color;
  }

  .search-results .marker.current-result .region {
    border: 1px solid @syntax-result-marker-color-selected;
  }

  .gfm {

    .bold {
      font-weight: bold;
    }

    .italic {
      font-style: italic;
    }

    .raw {
      color: #EC3533;
    }

    .variable.list {
      color: #F92672;
      font-weight: bold;
    }

    .link .entity {
      text-decoration: underline;
      color: #66D9EF;
    }

    .code .support {
      color: #7C7865;
    }

    .support.quote {
      color: #75715E;
    }

    .strike {
      color: #F92672;
    }

  }
}

.comment {
  color: #75715E;
}

.string {
  color: #E6DB74;

  &.regexp {
    color: #F6AA11;
  }

  .constant {
    color: #66D9EF;
  }

  .variable {
    color: #FFFFFF;
  }
}

.constant.numeric {
  color: #AE81FF;
}

.constant.language,
.meta.preprocessor {
  color: #AE81FF;
}

.constant.character,
.constant.other {
  color: #AE81FF;
}

.keyword {
  color: #F92672;
}

.storage {
  color: #F92672;
}

.storage.type {
  font-style: italic;
  color: #66D9EF;
}

.entity {
  color: #a6e22e;
}

.entity.name.class {
  text-decoration: underline;
  color: #A6E22E;
}

.entity.other.inherited-class {
  font-style: italic;
  text-decoration: underline;
  color: #A6E22E;
}

// Prevent underlines from making their way into whitespace elements
.leading-whitespace,
.trailing-whitespace {
  display: inline-block;
}

.entity.name.function {
  color: #A6E22E;
}

.entity.name.instance {
  color: #66D9EF;
}

.variable.parameter {
  font-style: italic;
  color: #FD971F;
}

.entity.name.tag {
  color: #f92672;
}

.entity.other.attribute-name {
  color: #A6E22E;
}

.support.function {
  color: #66D9EF;
}

.support.constant {
  color: #66D9EF;
}

.support.type,
.support.class {
  font-style: italic;
  color: #66D9EF;
}

.support.other.variable {
}

.invalid {
  color: #F8F8F0;
  background-color: #F92672;
}

.invalid.deprecated {
  color: #F8F8F0;
  background-color: #AE81FF;
}

.punctuation.definition.variable {
  color: #FFFFFF;
}

// General markup
.markup {
  &.heading {
    color: #FD971F;
  }

  &.underline {
    color: #E6DB74;
    text-decoration: underline;
  }
  &.heading {
    color: #FD971F;
  }

  &.italic {
    font-style: italic;
    color: #F92672;
  }

  &.bold {
    font-weight: bold;
    color: #F92672;
  }

  &.underline {
    text-decoration: underline;
    color: #A6E22E;
  }

  &.quote {
    font-style: italic;
    color: #66D9EF;
  }
}

// CSS-specific
.css {
  .entity.other.attribute-name.id {
    color: #F6AA11;

    .entity {
      color: #F6AA11;
    }
  }
}

// Jade syntax
.class.jade {
  color: #AE81FF;
}

// Makefile
.makefile {
  .variable {
    color: #F92672;
  }

  .target {
    .variable {
      color: #A6E22E;
    }
  }

  .prerequisites {
    .variable {
      color: #66D9EF;
    }
  }
}
