@import 'syntax-variables';

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-text-color;

    .cursor-line {
      background-color: @syntax-selection-color;
      color: @blue-color;
    }

    .cursor-line .cursor-line-no-selection {
      background-color: @syntax-gutter-background-color;
    }
  }

  .cursor-line {
    background-color: @syntax-selection-color;
    z-index: -3;
  }

  .line-number.cursor-line-no-selection {
    background-color: @syntax-gutter-background-color-selected;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    border-color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }

  .search-results .marker .region {
    background-color: transparent;
    border: 1px solid @syntax-result-marker-color;
  }

  .search-results .marker.current-result .region {
    border: 1px solid @syntax-result-marker-color-selected;
  }

  .gfm {

    .bold {
      font-weight: bold;
    }

    .italic {
      font-style: italic;
    }

    .raw {
      color: @red-color;
    }

    .variable.list {
      color: @icon-red-color;
      font-weight: bold;
    }

    .link .entity {
      text-decoration: underline;
      color: @blue-color;
    }

    .code .support.gfm {
      color: @gray-color;
    }

    .support.quote, .comment.quote {
      color: @blue-color;
    }

    .strike {
      color: @icon-red-color;
    }

  }
}

.comment, .comment .line {
  color: @gray-color;
}

.string {
  color: @yellow-color;

  &.regexp {
    color: @orange-color;
  }

  .constant {
    color: @blue-color;
  }

  .variable {
    color: @syntax-text-color;
  }
}

.constant.numeric {
  color: @purple-color;
}

.constant.language {
  color: @purple-color;
}

.constant.character,
.constant.other {
  color: @purple-color;
}

.keyword {
  color: @icon-red-color;
}

.storage {
  color: @icon-red-color;
}

.storage.type {
  font-style: italic;
  color: @blue-color;
}

.entity {
  color: @green-color;
}

.entity.name.class {
  text-decoration: none;
  color: @green-color;
}

.entity.other.inherited-class {
  font-style: italic;
  text-decoration: none;
  color: @green-color;
}

// Prevent underlines from making their way into whitespace elements
.leading-whitespace,
.trailing-whitespace {
  display: inline-block;
}

.entity.name.function {
  color: @green-color;
}

.entity.name.instance {
  color: @blue-color;
}

.variable {
  color: @orange-color;
}

.variable.parameter {
  font-style: italic;
  color: @orange-color;
}

.entity.name.tag {
  color: @icon-red-color;
}

.entity.other.attribute-name {
  color: @green-color;
}

.support.function {
  color: @green-color;
}

.support.constant {
  color: @blue-color;
}

.support.type {
  font-style: italic;
  color: @blue-color;
}

.support.class {
  color: @purple-color;
}

.invalid {
  color: #F8F8F0;
  background-color: @icon-red-color;
}

.invalid.deprecated {
  color: #F8F8F0;
  background-color: @purple-color;
}

.punctuation.definition.variable {
  color: @syntax-text-color;
}

// General markup
.markup {
  &.heading {
    color: @orange-color;
  }

  &.underline {
    color: @yellow-color;
    text-decoration: underline;
  }
  &.heading {
    color: @orange-color;
  }

  &.italic {
    font-style: italic;
    color: @icon-red-color;
  }

  &.bold {
    font-weight: bold;
    color: @icon-red-color;
  }

  &.underline {
    text-decoration: underline;
    color: @green-color;
  }

  &.quote {
    font-style: italic;
    color: @blue-color;
  }
}

//HTML
.html {
  .punctuation.definition.tag {
    color: @icon-red-color;
  }
  .sgml, .sgml .punctuation.definition.tag {
    color: @icon-orange-color;
  }
}

//JavaScript
.js {
  .support.constant {
    color: @icon-orange-color;
  }
  .variable.parameter {
    color: @orange-color;
  }
  .type.object {
    color: @blue-color;
  }
}

//CoffeeScript
.coffee .variable.assignment {
    color: @icon-red-color;
}

// CSS
.css {
  .entity.other.attribute-name.id {
    color: @orange-color;

    .entity {
      color: @orange-color;
    }
  }
  .property-name {
    color: @blue-color;
  }
  .important {
    color: @red-color;
  }
  .variable {
    &.parameter, &.argument {
      color: @icon-orange-color;
    }
  }
  .support.constant {
    color: @icon-orange-color;
  }
  .attribute-selector, .attribute-selector > *,
  .css .attribute-selector,
  .css .attribute-selector > *,
  .attribute-selector .attribute {
    color: @icon-orange-color;
  }
  .string.quoted.attribute-value {
    color: @yellow-color;
  }
}

// Sass and scss
.sass {
  .variable {
    color: @icon-red-color;

    &.parameter, &.argument {
      color: @icon-orange-color;
    }
  }
  .variable-declaration .entity {
    color: @icon-red-color;
  }
  .support.constant {
    color: @icon-orange-color;
  }
}

.scss {
  .variable .variable {
    color: @icon-red-color;

    & + .punctuation {
      color: @syntax-text-color;
    }
  }
}

// Less
.less {
  .variable {
    color: @icon-red-color;
  }
}

// Jade syntax
.jade {
  .class {
    color: @purple-color;
  }
  .id {
    color: @orange-color;
  }
}

// Makefile
.makefile {
  .variable {
    color: @icon-red-color;
  }

  .target {
    .variable {
      color: @green-color;
    }
  }

  .prerequisites {
    .variable {
      color: @blue-color;
    }
  }
}

// Ruby
.ruby {
  .entity.name.class, .entity.other.inherited-class {
    text-decoration: none;
  }
  .variable.language.self {
    color: @orange-color;
  }
  .variable.other {
    color: @orange-color;
    .definition.variable {
      color: @orange-color;
    }
    &.constant {
      color: @purple-color;
    }
    &.global, &.global .definition.variable {
      color: @icon-orange-color;
    }
    &.instance, &.instance .definition.variable {
      color: @sunbeam-yellow-color;
    }
    &.class, &.class .definition.variable {
      color: @turquoise-color;
    }
  }
}

// PHP
.php {
  .variable.other, .variable.other .punctuation.definition.variable {
    color: @orange-color;
  }
  .punctuation.section.embedded {
    &.begin, &.end {
      color: @icon-orange-color;
    }
  }
  .meta .function-call {
    color: @green-color;
  }
}

// Haml
.haml {
  .entity.name.tag {
    &.class {
      text-decoration: none;
    }
    &.id {
      color: @orange-color;
    }
  }
}

// Go
.go {
  .keyword.operator {
    color: @syntax-text-color;
  }
}

// Java
.java {
  .storage.modifier {
    &.package {
      color: @syntax-text-color;
    }
    &.import {
      color: @syntax-text-color;
    }
  }
}

// Support for other packages
.bracket-matcher .region {
  border-bottom: 1px solid @syntax-cursor-color;
  margin-top: 0px;
}
